= search_form_for @q do |f|
  = f.search_field :names_or_categories_name_or_mechanics_name_cont
  = f.submit

%table
  %thead
    %tr
      %th
      = content_tag :th, sort_link(@q, :primary_name, "Name")
      %th Categories
      %th Mechanics
  %tbody
    - @board_games.each do |board_game|
      %tr
        %th= image_tag board_game.image, style: "height: 100px"
        %td= link_to board_game, board_game_path(board_game)
        %td= board_game.categories.map(&:name).join(", ")
        %td= board_game.mechanics.map(&:name).join(", ")


= will_paginate @board_games
